
.app-h5 {

  .car-price {
    padding-block: 16px;
    .ant-form-item {
      width: 100%;
    }
    .calc-form {
      padding: 16px;
      border-radius: 4px;
      border: 1px solid #9b4dca;
      margin-bottom: 16px;
      .ant-form-item-label {
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}
